# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# IDE
.idea/
.vscode/
*.swp
*.swo
.cursor/
.lingma/
.trae
*~
# 大文件（如果不想提交）
# 操作系统
.DS_Store
Thumbs.db

# 不上传到 GitHub
求职Agent/
练习/
*.pkl
手写数字识别.csv
4.DeepLearning/*/data/
4.DeepLearning/*/model/
CLAUDE.md
*.mp3
NLP_BASIC_HTML
nlpbase
5.NLP/*/model/
5.NLP/*/data/
5.NLP/*/runs/
5.NLP/*/img/